* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
}


.navmain {
    background-color: #000;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navmain a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

.navmain a:hover {
    text-decoration: underline;
}


.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #ffffff;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero p {
    max-width: 600px;
    margin: 0 auto 25px;
    font-size: 16px;
    line-height: 1.6;
}

.hero button {
    padding: 12px 25px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.hero button:hover {
    background-color: #000;
}


.features {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 60px 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 25px;
    width: 280px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}


footer {
    background-color: #000;
   color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
